.documentItems {
  margin: 0;
  margin-top: 36px;
  list-style: none;
  padding: 0;
  min-height: 500px;

  li {
    margin: 16px 0;

    a {
      display: flex;
      align-items: center;
      color: #0062a3;
      height: 80px;
    }

    p {
      font-size: 20px;
      margin: 6px 16px;
    }
  }

  img {
    width: 36px;
  }
}
