.button {
  margin: 0;
  margin-top: 30px;

  a {
    font-size: 13px;
    font-family: "Source Sans Pro", Arial, sans-serif;
    text-decoration: none;
    color: #86af49;
    font-weight: bold;
    padding: 5px 20px;
    border: 2px solid #86af49;
    text-transform: uppercase;
    border-radius: 15px;
    text-align: center;
  }

  a:hover,
  a:active {
    color: #384e15;
    border-color: #384e15;
  }
}
